@{
    ViewData["Title"] = "Home Page";
}
<style>
    
    h1 {
        font-family: Arial, sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-family: Arial, sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>The current date and time on this server is: @ViewBag.ServerTime</h2>
</div>
