@page
@model IndexModel
@{
    ViewData["Title"] = "Test page";
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-center">
        <h1 id="test_page" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">My Test Page</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gY75dw64sqI?si=4VkfWMlrO5elc9OK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</body>
</html>